@font-face {
  font-family: 'F37Ginger';
  src: url('../fonts/F37Ginger-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'F37Ginger';
  src: url('../fonts/F37Ginger-Bold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

* {
  font-family: 'F37Ginger', 'sans-serif';
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  color: #000;
}

select {
  background: url('../../assets/img/select-arrow.svg') no-repeat;
}
